*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
}

.app{
    box-sizing: border-box;
    background-color: #0D1117;
    width: 100%;
    padding: 0 20px;
}

.app__content{
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    flex-direction: column;
}
