.table__group{
    display: flex;
    gap: 15px;
}

.table__text{
    width: 50%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__total{
    flex-direction: column;
    align-items: center;
}